:root {
    --main-color: #17a2b8;
}

body {
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.cont-home,
.navbar,
.signup,
.login {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    
}

.signup h1,
.login h1 {
    color: var(--main-color);
}

.signup button,
.login button {
    color: var(--main-color);
    border: var(--main-color) solid 1px;
    background-color: transparent;



}

.signup button:hover,
.login button:hover {
    background-color: var(--main-color);
    color: white;


}

.a-dec {
    text-decoration: none;

}

.a-dec:hover {
    text-decoration: underline;
}

/****************************************************************************************************/




.nav-link {
    color: rgba(255, 255, 255, .75);
}

.nav-link:hover {
    color: rgba(255, 255, 255, .75);
    background-color: #ffc107;
    border-color: #ffc107;
}

